_tmp
_dev
android/*/_tmp
android/*/.settings
android/*/assets
android/*/bin
android/*/dist
android/*/build
android/*/build.xml
android/*/nbproject/private
android/*/nbproject/genfiles.properties
android/*/nbproject/groovy-build.xml
android/*/src.bak
android/*/.terminal
build/workspace
build/*/_tmp
build/*/dist
build/*/build
build/*/build.xml
build/*/nbproject/private
build/*/nbproject/genfiles.properties
build/*/nbproject/groovy-build.xml
build/*/.terminal
client/clfc/*/_tmp
client/clfc/*/dist
client/clfc/*/build
client/clfc/*/build.xml
client/clfc/*/nbproject/private
client/clfc/*/nbproject/genfiles.properties
client/clfc/*/nbproject/groovy-build.xml
client/clfc/*/.terminal
client/custom/*/_tmp
client/custom/*/dist
client/custom/*/build
client/custom/*/build.xml
client/custom/*/nbproject/private
client/custom/*/nbproject/genfiles.properties
client/custom/*/nbproject/groovy-build.xml
client/custom/*/.terminal
client/etracs/*/_tmp
client/etracs/*/dist
client/etracs/*/build
client/etracs/*/build.xml
client/etracs/*/nbproject/private
client/etracs/*/nbproject/genfiles.properties
client/etracs/*/nbproject/groovy-build.xml
client/etracs/*/.terminal
client/hospital/*/_tmp
client/hospital/*/dist
client/hospital/*/build
client/hospital/*/build.xml
client/hospital/*/nbproject/private
client/hospital/*/nbproject/genfiles.properties
client/hospital/*/nbproject/groovy-build.xml
client/hospital/*/.terminal
client/plugins/*/_tmp
client/plugins/*/dist
client/plugins/*/build
client/plugins/*/build.xml
client/plugins/*/nbproject/private
client/plugins/*/nbproject/genfiles.properties
client/plugins/*/nbproject/groovy-build.xml
client/plugins/*/.terminal
client/research/*/_tmp
client/research/*/dist
client/research/*/build
client/research/*/build.xml
client/research/*/nbproject/private
client/research/*/nbproject/genfiles.properties
client/research/*/nbproject/groovy-build.xml
client/research/*/.terminal
client/*/_tmp
client/*/dist
client/*/build
client/*/build.xml
client/*/nbproject/private
client/*/nbproject/genfiles.properties
client/*/nbproject/groovy-build.xml
client/*/.terminal
server/*/_tmp
server/*/_dev
