_tmp
_dev

android/*/_tmp
android/*/.settings
android/*/assets
android/*/bin
android/*/dist
android/*/build
android/*/build.xml
android/*/nbproject/private
android/*/nbproject/build-impl.xml~
android/*/nbproject/genfiles.properties
android/*/nbproject/groovy-build.xml
android/*/.terminal
android/*/Thumbs.db

/**/_tmp
/**/dist
/**/build
/**/build.xml
/**/nbproject/private
/**/nbproject/build-impl.xml~
/**/nbproject/genfiles.properties
/**/nbproject/groovy-build.xml
/**/.terminal
/**/Thumbs.db

/**/.gradle
/**/.nb-gradle
/client/rameses-enterprise-treasury/nbproject/private/
/client/rameses-enterprise-treasury/build/
/client/rameses-enterprise-treasury/dist/
/client/etracs/rameses-etracs-main/nbproject/private/
/client/etracs/rameses-etracs-main/build/
/client/etracs/rameses-etracs-main/dist/
/client/etracs/rameses-gov-etracs-municipality/nbproject/private/
/client/etracs/rameses-gov-etracs-municipality/build/
/client/etracs/rameses-gov-etracs-municipality/dist/
/client/etracs/rameses-gov-etracs-city/nbproject/private/
/client/etracs/rameses-gov-etracs-province/nbproject/private/
/client/etracs/rameses-gov-etracs-city/build/
/client/etracs/rameses-gov-etracs-city/dist/
/client/etracs/rameses-gov-etracs-province/build/
/client/etracs/rameses-gov-etracs-province/dist/
/client/plugins/rameses-gov-etracs-ctc/nbproject/private/
/client/plugins/rameses-gov-etracs-ctc/build/
/client/plugins/rameses-gov-etracs-ctc/dist/