_tmp
_dev

android/*/_tmp
android/*/.settings
android/*/assets
android/*/bin
android/*/dist
android/*/build
android/*/build.xml
android/*/nbproject/private
android/*/nbproject/build-impl.xml~
android/*/nbproject/genfiles.properties
android/*/nbproject/groovy-build.xml
android/*/.terminal
android/*/Thumbs.db

/**/_tmp
/**/dist
/**/build
/**/build.xml
/**/nbproject/private
/**/nbproject/build-impl.xml~
/**/nbproject/genfiles.properties
/**/nbproject/groovy-build.xml
/**/.terminal
/**/Thumbs.db

server/*/_tmp
server/*/_dev
