<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rameses.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
	<!-- My Location -->
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_app"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:name="ApplicationImpl">
        
		<meta-data android:name="com.google.android.maps.v2.API_KEY"
		    android:value="AIzaSyAuEe1GkGZUvKZPb5V1si6ltRc4amG1CJg"/>
		<meta-data
		    android:name="com.google.android.gms.version"
		    android:value="@integer/google_play_services_version" />        
        
        <activity
            android:name="com.rameses.android.SplashActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>    

        <activity android:name="com.rameses.android.system.SettingsActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.rameses.android.system.RegistrationOptionActivity" android:screenOrientation="portrait"/> 
        <activity android:name="com.rameses.android.system.RegistrationActivity"  android:screenOrientation="portrait"/>
        <activity android:name="com.rameses.android.system.LoginActivity"  android:screenOrientation="portrait"/>
        <activity android:name="com.rameses.android.system.ChangePwdOnLogonActivity"  android:screenOrientation="portrait"/>
        <activity android:name="com.rameses.android.system.ChangePasswordActivity"  android:screenOrientation="portrait"/>
        <activity android:name="com.rameses.android.main.DefaultHomeActivity"  android:screenOrientation="portrait"/>
        
        <activity android:name="com.rameses.android.efaas.HomeActivity"  android:screenOrientation="portrait"/>
        <activity android:name="com.rameses.android.efaas.MasterFileActivity"  android:screenOrientation="portrait"/>
        <activity android:name="com.rameses.android.efaas.MasterFileDetailActivity"  android:screenOrientation="portrait"/>
        <activity android:name="com.rameses.android.efaas.RevisionSettingActivity"  android:screenOrientation="portrait"/>
        <activity android:name="com.rameses.android.efaas.RevisionSettingDetailActivity"  android:screenOrientation="portrait"/>
    </application>
</manifest>
