/*
#root, #footer, #header, .toolbar-button {
    //-fx-background-image: url("bg.jpg");
    //-fx-background-color: #062140;
    -fx-background-color: #fbfbfb;
}
*/
#header {
    -fx-padding: 0 20 10 20;
}
#footer {
    -fx-padding: 10 20 0 20;
}
#header-toolbar {
    -fx-padding: 10 10 20 10;
}
.toolbar-button {
    -fx-background-color: yellow;
    -fx-font-color: black;
    -fx-margin: 5;
}
.toolbar-button:hover {
    -fx-background-color: red;
    -fx-font-color: black;
}
.toolbar-button:pressed {
    -fx-background-color: orange;
    -fx-font-color: black;
}